{
    "check-requirements": false,
    "dump-autoload": true,
    "compactors": [
        "KevinGH\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "files": [
        "LICENSE",
        "stubs/.mr-linter.json",
        "stubs/.mr-linter.yaml"
    ],
    "git-commit": "git-commit",
    "output": "bin/build/mr-linter.phar"
}
