on:
  release:
    types: [published]

name: Release
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: set MR-Linter version
        run: echo "MR_LINTER_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: composer deps
        run: composer install --no-interaction --no-dev --prefer-dist --optimize-autoloader

      - name: build phar
        run: cd dev/build/ && composer install && cd ../../ && dev/build/vendor/bin/box compile && git checkout

      - name: sign phar
        uses: phpDocumentor/phar-ga@latest
        env:
          PASSPHRASE: ${{ secrets.PHAR_SIGN_PASSPHRASE }}
          SECRET_KEY: ${{ secrets.PHAR_SIGN_SECRET_KEY }}
        with:
          args: gpg --command-fd 0 --pinentry-mode loopback -u temicska99@mail.ru --batch --detach-sign --output bin/build/mr-linter.phar.asc bin/build/mr-linter.phar

      - name: release phar
        uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: bin/build
          GITHUB_TOKEN: ${{ secrets.MR_LINTER_GITHUB_HTTP_TOKEN }}

      - name: build and publish Docker Image
        env:
          MR_LINTER_DOCKER_USER: ${{ secrets.MR_LINTER_DOCKER_USER }}
          MR_LINTER_DOCKER_PASSWORD: ${{ secrets.MR_LINTER_DOCKER_PASSWORD }}
        run: make docker-pub-build && make docker-pub-push && make docker-pub-push-as-latest
