name: Review

on:
  push:
    branches: [ master, 'dev' ]
  pull_request:
    branches: [ master, 'dev' ]

jobs:
  review:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: xdebug

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        env:
          MR_LINTER_TIMEZONE: 'Europe/Moscow'
        with:
          path: vendor
          key: ${{ runner.os }}-php-mr-linter-$GITHUB_REF-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
            

      - name: MR Lint
        env:
          MR_LINTER_GITHUB_HTTP_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MR_LINTER_TELEGRAM_BOT_TOKEN: ${{ secrets.MR_LINTER_TELEGRAM_BOT_TOKEN }}
          MR_LINTER_TELEGRAM_CHAT_ID: ${{ secrets.MR_LINTER_TELEGRAM_CHAT_ID }}
          MR_LINTER_TIMEZONE: 'Europe/Moscow'
        run: composer mr-lint
