name: PHP Composer

on:
  push:
    branches: [ master, 'dev' ]
  pull_request:
    branches: [ master, 'dev' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Validate composer.json
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-$GITHUB_REF-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest && composer dump-autoload -o

      - name: MR Lint
        env:
          MR_LINTER_GITHUB_HTTP_TOKEN: ${{ secrets.MR_LINTER_GITHUB_HTTP_TOKEN }}
        run: composer mr-lint

      - name: Lint
        run: composer lint

      - name: Stat analyse
        run: composer stat-analyse

      - name: Run Tests
        run: composer test
