name: Testing

on:
  push:
    branches: [ master, 'dev' ]
  pull_request:
    branches: [ master, 'dev' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: xdebug

      - name: Validate composer.json
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-mr-linter-$GITHUB_REF-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest && composer dump-autoload -o

      - name: Push docs to site
        run: |
          touch ~/.ssh/doc-retriever
          echo "${{ secrets.DOCS_RETRIEVER_SSH_KEY }}" > ~/.ssh/doc-retriever && \
          ssh-add && \
          eval "$(ssh-agent -s)" && \
          make push-docs

      - name: Check dependencies
        run: make deps-check

      - name: MR Lint
        env:
          MR_LINTER_GITHUB_HTTP_TOKEN: ${{ secrets.MR_LINTER_GITHUB_HTTP_TOKEN }}
          MR_LINTER_TELEGRAM_BOT_TOKEN: ${{ secrets.MR_LINTER_TELEGRAM_BOT_TOKEN }}
          MR_LINTER_TELEGRAM_CHAT_ID: ${{ secrets.MR_LINTER_TELEGRAM_CHAT_ID }}
        run: composer mr-lint

      - name: Lint
        run: composer lint

      - name: Stat analyse
        run: composer stat-analyse

      - name: Deptrac
        run: composer deptrac

      - name: Run Tests
        env:
          XDEBUG_MODE: coverage
        run: composer test-coverage

      - name: Upload to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          verbose: true
